<div class="container">
  <h1 class="center">All Grades</h1>

  <div class="table-header">
    <%= link_to 'Add Grade', new_grade_path, class: 'btn btn-primary' %>

  </div>

  <table class="table">
    <tr>
      <td>Student ID</td>
      <td>Course ID</td>
      <td>Grade</td>
      <td>Actions</td>
    </tr>
    <% if @grades %>
      <% @grades.each do |g| %>
        <tr>
          <td><%= g.user_id %></td>
          <td><%= g.course_id %></td>
          <td><%= g.grade_value %></td>
          <td>
            <%= link_to 'Edit', edit_grade_path(g), class:'btn btn-primary' %>
            <%= link_to 'Delete', grade_path(g), method: 'delete', :data => {:confirm=>'Are you sure?'}, class: 'btn btn-danger' %>
          </td>
        </tr>
        <% end %>
    <% end %>
  </table>
</div>
