<% provide(:title, @user.name) %>

<div class="cointainer">
  <div class="row">
    <aside class="col-md-4" style="height:80vh;padding-left:2em;">
      <section class="user_info">
        <h1>
          <%= gravatar_for @user%>
          <%= @user.name %>
        </h1>
        <h3>Email: <%= @user.email %></h3>
        <!-- User Permission Status  -->
        <% if @user.student? %>
          <h3><strong>Status:</strong> Student</h3>
        <% end %>
        <% if @user.teacher? %>
          <h3><strong>Status:</strong> Teacher</h3>
        <% end %>
        <% if @user.admin? %>
          <h3><strong>Status:</strong> Administrator</h3>
        <% end %>

        <hr>
        <% if @user.teacher? %>
          <ul class="nav nav-stacked">
            <li><%=link_to "Add Course", new_course_path %></li>
            <li><%= link_to 'Assign a grade', new_grade_path %></li>
            <li><%= link_to 'Enroll a student', new_enrollment_path %>
          </ul>
        <% end %>
      </section>
    </aside>

    <!-- if Teacher render this as template -->
    <% if @user.teacher? %>
      <div class="col-md-8">
        <h2>My Courses</h2>
        <!-- Loop through courses -->
        <table class="table">
          <tr>
            <td><strong>ID</strong></td>
            <td><strong>Title</strong></td>
            <td><strong>Actions</strong></td>
          </tr>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.id %></td>
              <td><%= course.title %></td>
              <td>
                <%= link_to 'View', course_path(course), class: 'btn btn-primary'  %>
                <%= link_to 'Edit', edit_course_path(course), class: 'btn btn-primary'%>
                <%= link_to 'Delete', course_path(course), method:'delete', :data=>{:confirm=>'Are you sure?'}, class: 'btn btn-danger' %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="col-md-8">
        <h2>Enrolled Students</h2>
        <p>If student appears in course but not in this table, then you need to enroll them to the proper course.</p>
        <!-- Loop through all students who are enrolled in a teachers class -->
        <table class="table">
          <tr>
            <td><strong>ID</strong></td>
            <td><strong>Name</strong></td>
            <td><strong>Course(s)</strong></td>
          </tr>
          <% @teachers_students.each do |s| %>
            <tr>
              <td><%= s.id %></td>
              <td><%= s.name %></td>
              <td>
                <% s.enrollment.each do |g| %>
                  <%= g.course.title %>,
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>

      <div class="col-md-8">
        <h2>All Students</h2>
        <!-- Loop through all students -->
        <table class="table">
          <tr>
            <td><strong>ID</strong></td>
            <td><strong>Name</strong></td>
            <td><strong>Action</strong></td>
          </tr>
          <% @students.each do |s| %>
            <tr>
              <td><%= s.id %></td>
              <td><%= s.name %></td>
              <td><%= link_to 'Enroll', new_enrollment_path, class:'btn btn-primary' %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
    <!-- End of Teacher view -->


    <!-- if Student render this -->
    <% if @user.student? %>
      <div class="col-md-8">
        <h2>My Courses</h2>
        <!-- view courses and grade status -->
        <table class="table">
          <tr>
            <!-- <td>Student ID</td> -->
            <td><strong>Course ID</strong></td>
            <td><strong>Title</strong></td>
            <td><strong>Start Date</strong></td>
            <td><strong>End Date</strong></td>
            <td><strong>Grade</strong></td>
          </tr>
            <% @student.each do |row| %>
              <% row.grade.each do |data| %>
              <tr>
                <!-- <td><%= data.user_id %></td> -->
                <td><%= data.course_id %> </td>
                <td><%= data.course.title %></td>
                <td><%= data.course.start_date %></td>
                <td><%= data.course.end_date %></td>
                  <% if data.grade_value == 4 %>
                    <td>A</td>
                  <% elsif data.grade_value == 3 %>
                    <td>B</td>
                  <% elsif data.grade_value == 2 %>
                    <td>C</td>
                  <% elsif data.grade_value == 1 %>
                    <td>D</td>
                  <% else %>
                    <td>F</td>
                  <% end %>
              </tr>
              <% end %>
            <% end %>
          </table>
      </div>
      <div class="gpa col-md-8" style="display:flex;padding-right:3em;">
        <h2>Cumulative GPA:  </h2>
        <!-- Display GPA -->
        <br><br>
        <span class="gpa-value" style="font-size:1.5em;padding-top:1.5em;padding-left:3em;">
          <%= @gpa %>
        </span>
      </div>

    <% end %>
    <!-- End of student view -->

    <!-- If admin render this  -->
    <% if @user.admin? %>
      <div class="col-md-8">
        <h2>Semesters</h2>
        <!-- table with semester id, title, and enrollment count -->
        <table class="table">
          <tr>
            <td>Semester ID</td>
            <td>Term</td>
            <td>Enrollment Count</td>
          </tr>
          <% @semesters.each do |semester| %>
            <tr>
              <td><%= semester.id %></td>
              <td><%= semester.title %></td>
              <td><%= semester.enrollment.count %></td>
            </tr>
          <% end %>
        </table>
      </div>
      <div class="col-md-8">
        <h2>Courses and AVG Grades</h2>
        <!-- table with courses and average gpa -->
        <table class="table">
          <tr>
            <!-- Might not need semester id for performance reasons -->
            <td>Semester ID</td>
            <td>Course ID</td>
            <td>Course Title</td>
            <td>Average GPA</td>
          </tr>
          <% @courses.each do |course| %>
            <tr>
              <td><%= course.semester_id %></td>
              <td><%= course.id %></td>
              <td><%= course.title  %></td>
              <td><%= course.grade.sum(:grade_value).to_f / course.grade.count  %></td>
            </tr>
          <% end %>
        </table>
      </div>
    <% end %>
  </div>
</div>
